.aboutMain {
    height: 114dvh;
    overflow: hidden;
    /* margin-top: 2rem; */
    background-image: linear-gradient(to right top,
            #1b1d24,
            #1d1e27,
            #191d25,
            #131722,
            #070b15,
            #070b15,
            #070b15,
            #070b15,
            #070b15,
            #070b15,
            #070b15,
            #070b15) !important;
}

.aboutBody {
    justify-content: space-around;
    gap: 1rem;
    /* margin: 0 10% 0 10%; */
    padding: 2rem;
}

.about__LeftContainer {
    flex-flow: column wrap;
    flex: 0.5;
}

.about__LeftContainer__HexagonalGrid {
    flex-flow: column wrap;
    width: 100%;
}

.about__LeftContainer__HexagonalGridHeading,
.about__LeftContainer__TechStackList,
.about__LeftContainer__HexagonalGridHeading>h3 {
    position: relative;
}

.about__LeftContainer__HexagonalGridHeading {
    top: -16rem;
    left: 4rem;
    flex-flow: column wrap;
    z-index: 1;
}

.about__LeftContainer__HexagonalGridHeading>h3 {
    color: #D7A257;
    font-family: "Macondo Swash Caps";
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    font-style: normal;
    animation: expand-shrink 2s ease-in-out infinite alternate;
}

.about__LeftContainer__HexagonalGridHeading>h1 {
    font-family: Parry Hotter;
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: 300;
    background-blend-mode: multiply;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to left, #9b7456, #e6d699, #9b7456),
        linear-gradient(to top, #9b7456, #e6d699, #9b7456);
    background-size: 200% auto;
    background-clip: text;
    animation: textclip 2s linear infinite, expand-shrink 2s ease-in-out infinite alternate;
}

.Hex {
    position: absolute;
    left: 20%;
}

.Hex>a>img {
    animation: imageUpdown_about infinite alternate 5s ease-in-out;
    width: clamp(5rem, 12vw, 18rem);

}

.Hex>a>img:hover {
    cursor: pointer;
    animation: bounce-spin 1s ease-in-out;
}

.Hex>a>h5 {
    font-size: 1.2rem;
    font-family: 'macondo swash caps';
    color: #D7A257;
    text-align: center;
    font-weight: 300;
}

.Hex:nth-child(7) {
    top: 15%;
}

.Hex:nth-child(6) {
    top: 75%;
}

.Hex:nth-child(3),
.Hex:nth-child(2) {
    top: 30%;
}

.Hex:nth-child(4),
.Hex:nth-child(5) {
    top: 60%;
}

.Hex:nth-child(3),
.Hex:nth-child(4) {
    left: 5%;
}

.Hex:nth-child(2),
.Hex:nth-child(5) {
    left: 35%;
}

.about__LeftContainer__TechStack {
    flex-flow: column wrap;
}

.about__LeftContainer__TechStackList {
    flex-flow: column wrap;
    top: 10rem;
    left: 4rem;
}

.about__LeftContainer__TechStackList>h3 {
    font-family: Lumos;
    font-size: clamp(1rem, 2vw, 2rem);
    text-align: center;
    color: #D7A257;
}

.about__RightContainer {
    flex: 0.5;
    flex-flow: column wrap;
}

.about__RightContainer>img {
    height: clamp(35rem, 55vw, 75rem);
}

.about__RightContainer__ParagraphBody {
    position: relative;
    top: -48rem;
    left: 3.75rem;
    width: 20rem;
    background: none;
}

.about__RightContainer__ParagraphBody>h1 {
    font-family: "Astloch", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: #805D21;
    background-color: transparent;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 4px #85765B;
}

.about__RightContainer__ParagraphBody>p {
    font-family: "Macondo Swash Caps";
    font-weight: 400;
    font-style: normal;
    background-color: transparent;
    font-size: 0.9rem;
    color: #18120F;
    text-shadow: 0px 2px 4px #85765B
}

@keyframes bounce-spin {

    0% {
        transform: translateY(0) rotateY(0deg);

    }

    100% {
        transform: translateY(0) rotateY(360deg);

    }
}

@keyframes imageUpdown_about {
    0% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(10px);

    }
}

@keyframes expand-shrink {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

@media (width < 1210px) {
    .aboutMain {
        height: 95dvh;
    }

    .about__LeftContainer__HexagonalGridHeading {
        top: -10rem;
        left: 4rem;
        flex-flow: column wrap;
        z-index: 1;
    }

    .Hex:nth-child(4),
    .Hex:nth-child(5) {
        top: 55%;
    }

    .Hex:nth-child(6) {
        top: 70%;
    }

    .about__LeftContainer__TechStackList {
        top: 6rem;
        left: 4.5rem;
    }

    .about__RightContainer>img {
        height: 45rem;
    }

    .about__RightContainer__ParagraphBody {
        position: relative;
        top: -32rem;
        left: 2.75rem;
        width: 12rem;
    }

    .about__RightContainer__ParagraphBody>h1 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    .about__RightContainer__ParagraphBody>p {
        font-size: 0.65rem;
    }
}