.contactMain {
    height: 100dvh;
    /* overflow: hidden; */
    background-image: radial-gradient(ellipse,
            #1d1e23,
            #1a1b20,
            #16181e,
            #13151b,
            #0f1119,
            #0d0f18,
            #0a0d16,
            #070b15,
            #070b15,
            #070b15,
            #070b15,
            #070b15) !important;
}

.contactBody {
    gap: 1rem;
    /* margin: 0 10% 0 10%; */
    /* background-color: red; */
}

.contact__LeftContainer {
    flex-direction: column wrap;
    flex: 0.5;
    /* background-color: yellow; */
}

.contact__LeftContainer>img {
    /* width: 100%; */
}

.contact__LeftContainer__Icon {
    position: absolute;
    top: 10%;
    align-items: flex-end;
}

.contact__RightContainer {
    flex: 0.5;
    flex-flow: column wrap;
    /* background-color: blue; */
}

.contact__RightContainer>h2 {
    font-family: "Macondo Swash Caps";
    font-weight: 400;
    font-style: normal;
    color: white;
}

.contact__RightContainer__btn {
    flex-flow: column wrap;
}

.contact__RightContainer__btn>h1 {
    position: absolute;
    /* right: 18%; */
    font-family: Parry Hotter;
    /* background-color: red; */
    color: white;
    font-size: 5rem;
    width: 12rem;
    line-height: 120%;
    text-align: center;
}

.contact__RightContainer__btn>img {
    /* width: fill; */
    /* mix-blend-mode:; */
}