.contactMain {
    height: 90dvh;
    overflow: hidden;
    background-image: radial-gradient(ellipse,
            #1d1e23,
            #1a1b20,
            #16181e,
            #13151b,
            #0f1119,
            #0d0f18,
            #0a0d16,
            #070b15,
            #070b15,
            #070b15,
            #070b15,
            #070b15) !important;
}

.contactBody {
    gap: 1rem;
}

.contact__LeftContainer {
    flex-direction: column wrap;
    flex: 0.5;

}

.contact__LeftContainer>img {
    width: 95%;
    /* animation: expandShrink_contact 2s ease-in-out infinite alternate; */
}

.contact__LeftContainer__Icon {
    position: absolute;
    top: 10%;
    align-items: flex-end;
}

.tree_icon {
    cursor: pointer;
    position: relative;
    animation: expand-shrink 2s ease-in-out infinite alternate;
}

.tree_icon:nth-child(1) {
    animation-delay: 2s;
    top: 30rem;
    left: -5rem;
}

.tree_icon:nth-child(3) {
    animation-delay: 3s;
    top: 30rem;
    left: 5rem;
}

.contact__RightContainer {
    flex: 0.5;
    flex-flow: column wrap;

}

.contact__RightContainer>h2 {
    position: relative;
    top: 4rem;
    right: -2rem;
    font-family: "Macondo Swash Caps";
    font-weight: 400;
    font-style: normal;
    color: #F2D88C;
}

.contact__RightContainer__btn {
    flex-flow: column wrap;
}

.contact__RightContainer__btnContainer {
    position: absolute;
    right: 19.5rem;
    width: 15rem;
    height: 15rem;
    background-color: transparent;
    border: 0px;
    border-radius: 50%;
    z-index: 5;
}

.contact__RightContainer__btnContainer:hover {
    cursor: pointer;
}

.contact__RightContainer__btn>button>h1 {
    z-index: 1;
    position: absolute;
    font-family: Parry Hotter;
    background: linear-gradient(to bottom, #18120F 50%, #F6EFDF 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: clamp(1.5rem, 3vw, 2.75rem);
    width: 12rem;
    line-height: 152%;
    text-align: center;
    font-weight: 300;
}

.contact__RightContainer__btn>img {
    width: 100%;
    animation: expandShrink_contact 2s ease-in-out -5s infinite alternate;
}

@keyframes expandShrink_contact {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.03);

    }
}

@media (width < 1210px) {
    .contactMain {
        height: 88dvh;
    }

    .tree_icon>a>img {
        width: 7rem;
    }

    .tree_icon:nth-child(1) {
        top: 24rem;
        left: -1rem;
    }

    .tree_icon:nth-child(2) {
        top: 5rem;
    }

    .tree_icon:nth-child(3) {
        top: 24rem;
        left: 1rem;
    }

    .contact__RightContainer__btnContainer {
        right: 9rem;
    }

    .contact__RightContainer__btn>h1 {
        right: 14%;
        font-size: 2.5rem;
    }
}