.homeMain {
    height: 90dvh;
    overflow: hidden;
}

.flex {
    display: flex;
}

.homeBody {
    justify-content: space-around;
    align-items: center;
    flex-flow: row;
    height: 100%;
    margin: 0 10% 0 10%;
    padding: 2rem;
}

.home__LeftContainer {
    /* position: relative; */
    flex: 0.5;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}

.home__Image {
    position: relative;
    width: 90%;
    animation: imageUpdown infinite alternate 3s ease-in-out;
    background-color: transparent;
    z-index: 5;
}

.home__HeaderText {
    font-family: Parry Hotter;
    font-size: 6rem;
    color: #d7a257;
}

.home__RightContainer {
    flex: 0.5;
    align-items: center;
    justify-content: center;
}

.home__HeadingTextContainer {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home__HeadingTextContainer > h1 {
    text-align: center;
}

.home__CaptionTextContainer {
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.cap {
    font-family: "Lumos";
    font-size: 1.2rem;
    color: #d7a257;
}

.bar {
    color: #d7a257;
    font-size: 2rem;
    padding-bottom: 0.25rem;
}

.ring-container {
    position: absolute;
    top: 48%;
    left: 29%;
    /* overflow: hidden; */
    display: flex;
    align-items: center;
}

.ring {
    position: absolute;
    border-radius: 0 50rem 50rem 0; /* Create semi-circle shape */
    border: 1px solid #d7a257;
    animation: spin infinite linear;
    background-color: transparent;
    transform-origin: 0 50%; /* Rotate around bottom center */
}

.ring-1 {
    width: 20rem;
    height: 40rem;
    animation-name: spinClockwise;
    animation-duration: 10s;
}

.ring-2 {
    width: 22.5rem;
    height: 45rem;
    animation-name: spinCounterClockwise;
    animation-duration: 15s;
}

@keyframes imageUpdown {
    0% {
        transform: translateY(0); /* Start at base position (no movement) */
    }
    50% {
        transform: translateY(-50px); /* Move the image up 50px */
    }
    100% {
        transform: translateY(0); /* Return to base position */
    }
}

@keyframes spinClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spinCounterClockwise {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

/* Responsive Adjustments (Optional) */

@media (width < 768px) {
    /* Adjust styles for smaller screens (e.g., reduce ring size) */
    .ring {
        border-width: 3px;
    }
    .homeBody {
        flex-flow: column wrap;
        justify-content: center;
    }
}
