.introMain {}

.introMain__LockBody {
    flex-flow: column wrap;
    height: 100dvh;
}

h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button i {
    margin-right: 1rem;
}

.introMain__UnlockBody {
    height: 100dvh;
    flex-flow: column wrap;
}

/* Add any additional styles for the site content here */