.introMain {}

.introMain__LockBody {
    flex-flow: column wrap;
    height: 100dvh;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInZoom 1s ease-in-out forwards;
}

.introMain__UnlockBody {
    flex-flow: column wrap;
    height: 100dvh;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeIn 1s ease-in-out forwards;
}

.introMain__LockBody>h1,
.introMain__UnlockBody>h1 {
    font-family: "Macondo Swash Caps";
    font-weight: 400;
    font-style: normal;
    color: #D7A257;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.introMain__LockBody>button,
.introMain__UnlockBody>button {
    font-family: Parry Hotter;
    font-size: 4.5rem;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 2rem 0rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-blend-mode: multiply;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to left, #84522D, #C9A677, #84522D),
        linear-gradient(to top, #84522D, #C9A677, #84522D);
    background-size: 200% auto;
    background-clip: text;
    animation: textclip 2s linear infinite, imageUpdown_lockUnlock infinite alternate 2s ease-in-out;
}

.btn1 {
    font-size: 4.5rem !important;
    font-weight: 300;
}

.btn1>img {
    position: absolute;
    background-color: transparent;
}

.introMain__UnlockBody>button i {
    margin-right: 1rem;
}

.introMain__UnlockBody {
    height: 100dvh;
    flex-flow: column wrap;
}

.introMain {
    transition: opacity 0.5s ease-in-out;
}

.unlocked .introMain {
    opacity: 0;
}

@keyframes imageUpdown_lockUnlock {
    0% {
        transform: translateY(-20px);

    }

    100% {
        transform: translateY(20px);

    }
}

@keyframes fadeInZoom {
    0% {
        opacity: 0;
        transform: scale(0.8);

    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}