.navbarMain {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navBody {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;

}

.logo,
.navMenu>li {

    list-style: none;
    margin: 0.75rem 0.5rem 0.75rem 0.5rem;
}

.logo>a {
    font-family: Parry Hotter;
    font-size: 1rem;
    text-decoration: none;
    background-blend-mode: multiply;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to left, #9b7456, #e6d699, #9b7456),
        linear-gradient(to top, #9b7456, #e6d699, #9b7456);
    background-size: 200% auto;
    background-clip: text;
    animation: textclip 2s linear infinite;
}

.navMenu>li>a {

    font-family: Lumos;
    font-weight: 600;
    font-size: 1.25rem;
    color: #d7a257;
    text-align: center;
    text-decoration: none;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    transition: all 0.15s ease-in-out;
}

.navMenu li a:not(.active):hover,
.navMenu li a:not(.active):focus {
    border-bottom: 1px solid #d7a257;
    background-color: transparent;
}

.active {
    background-color: #d7a257;
    color: #070b15 !important;
}

@media (max-width: 480px) {
    .navBody {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navMenu {
        position: absolute;
        top: 20%;
        left: 40%;
        display: none;
        justify-content: center;
        flex-direction: column;
        background-color: transparent;
        animation: fadeInTop 0.25s ease-in-out;
    }

    .active {
        display: flex;
    }

    @keyframes fadeInTop {
        from {
            opacity: 0;
            transform: translateY(-100%);
            /* Move the menu off-screen initially */
        }

        to {
            opacity: 1;
            transform: translateY(0);
            /* Move the menu back to its original position */
        }
    }

    @keyframes fadeOutTop {
        from {
            opacity: 1;
            transform: translateY(0);
        }

        to {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
}