.projectsMain {
    height: 90dvh;
    overflow: hidden;
    background-image: radial-gradient(ellipse,
            #1d1e23,
            #1a1b20,
            #16181e,
            #13151b,
            #0f1119,
            #0d0f18,
            #0a0d16,
            #070b15,
            #070b15,
            #070b15,
            #070b15,
            #070b15) !important;
}

.projectsMain::before {
    content: "";
    background-image: url(path: );
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(219, 219, 233);
}

.projectsBody {
    margin: 0 10% 0 10%;
    justify-content: space-evenly;
}

.projects__LeftContainer {
    position: relative;
    left: clamp(24rem, 24vw, 28rem);
    flex: 0.3;
    z-index: 1;
}

.projects__LeftContainer>img {
    width: clamp(45rem, 45vw, 100rem);
    animation: rotate 5s ease-in-out infinite alternate;
}

.projects__CenterContainer {
    position: relative;
    flex-flow: column;
    transform: rotateZ(180deg);
    left: -0.75rem;
    flex: 0.3;
    z-index: 0;
    transition: all 5s ease-in-out;
}

.projects__CenterContainer:hover {
    transform: rotateZ(0deg);
}

.bookStack {
    flex-flow: column wrap;
    position: absolute;
    left: 32%;
    top: 23.5%;
    /* top: 10%; */
}

.bookStack1 {
    align-items: baseline !important;
}

.bookStack2 {
    position: relative;
    top: -0.5rem;
}

.bookStack3 {
    position: relative;
    align-items: baseline !important;
}

.books {
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    animation-delay: 5s;
    transition: all 0.3s ease;
}

.books:hover {
    cursor: pointer;
    -webkit-transform: translate(0, -5rem) !important;
    -ms-transform: translate(0, -5rem) !important;
    transform: translate(0, -5rem) !important;
}

.projects__CenterContainer>img {
    width: clamp(73rem, 73vw, 100rem);
}

.projects__CenterContainerHeader {
    position: relative;
    top: -15.5rem;
    left: 1rem;
}

.projects__CenterContainerHeader>h1 {
    color: #D7A257;
    font-family: "Lumos";
    font-size: clamp(1rem, 2vw, 2rem);
    font-weight: 400;
    font-style: normal;
    animation: expand-shrink 2s ease-in-out infinite alternate;
}

.projects__RightContainer {
    position: relative;
    right: clamp(24rem, 24vw, 28rem);
    flex: 0.3;
    z-index: 1;
}

.projects__RightContainer>img {
    width: clamp(45rem, 45vw, 100rem);
    animation: rotate 5s ease-in-out -5s infinite alternate;
}


@keyframes rotate {
    from {
        transform: rotateZ(-2deg);
    }

    to {
        transform: rotateZ(7deg);
    }
}

@media (width < 1210px) {
    .bookStack {
        /* background-color: red; */
        width: 30rem;
        left: 30.5%;
        top: 26.5%;
    }

    .bookStack2 {
        position: relative;
        top: -1.75rem;
    }

    .bookStack3 {
        top: -2.75rem;
    }

    .bookStack1>.books>a>img {
        width: 80%;
    }

    .projects__CenterContainerHeader {
        position: relative;
        top: -13rem;
        left: 1rem;
    }

}

@media (width < 485px) {
    .projectsBody {
        height: 80vh;
        flex: column wrap;
    }

    .projects__LeftContainer {
        display: none;
        flex: 0;
    }

    .projects__CenterContainer {
        flex: 1;
        top: 0rem;
        left: -0.25rem;
    }

    .projects__CenterContainer>img {
        width: 48rem;
    }

    .bookStack {
        justify-content: space-around !important;
        width: 20rem;
        top: 27.5%;
    }

    .projects__CenterContainer>h1 {
        color: wheat;
        z-index: 5;
    }

    .bookStack2 {
        position: relative;
        top: -1.75rem;
    }

    .bookStack2>.books>a>img {
        width: 40%;
    }

    .bookStack3 {
        top: -2.75rem;
    }

    .bookStack2>.books>a>img {
        width: 40%;
    }

    .bookStack1>.books>a>img {
        width: 50%;
    }

    .projects__RightContainer {
        display: none;
        flex: 0;
    }
}