.projectsMain {
    height: 90dvh;
    overflow: hidden;
    background-image: radial-gradient(ellipse,
            #1d1e23,
            #1a1b20,
            #16181e,
            #13151b,
            #0f1119,
            #0d0f18,
            #0a0d16,
            #070b15,
            #070b15,
            #070b15,
            #070b15,
            #070b15) !important;
}

.projectsMain::before {
    content: "";
    background-image: url(path: );
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgb(219, 219, 233);
}

.projectsBody {
    margin: 0 10% 0 10%;
    justify-content: space-evenly;
}

.projects__LeftContainer {
    position: relative;
    left: clamp(10rem, 25vw, 28rem);
    flex: 0.3;
    z-index: 1;
}

.projects__LeftContainer>img {
    width: clamp(20rem, 45vw, 100rem);
}

.projects__CenterContainer {
    position: relative;
    left: -1rem;
    flex: 0.3;
    z-index: 0;
}

.bookStack {

    flex-flow: column wrap;
    position: absolute;

    top: 25.5%;
    /* top: 10%; */

}

.bookStack1 {
    align-items: baseline !important;
}

.bookStack2 {
    position: relative;
    top: -0.5rem;
}

.bookStack3 {
    position: relative;
    /* top: -0.5rem; */
    align-items: baseline !important;
}

.books {
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    transition: all 0.25s ease-in;
}

.books:hover {
    cursor: pointer;
    -webkit-transform: translate(0, -5rem) !important;
    -ms-transform: translate(0, -5rem) !important;
    transform: translate(0, -5rem) !important;
}

.projects__CenterContainer>img {
    width: clamp(50rem, 75vw, 100rem);
}

.projects__RightContainer {
    position: relative;
    right: clamp(10rem, 25vw, 28rem);
    flex: 0.3;
    z-index: 1;
}

.projects__RightContainer>img {
    width: clamp(20rem, 45vw, 100rem);
}