@font-face {
  font-family: "Lumos";
  src:
    local("Lumos"),
    url("fonts/LUMOS.TTF") format("truetype");
}

@font-face {
  font-family: "Parry Hotter";
  src:
    local("Parry Hotter"),
    url("fonts/ParryHotter.ttf") format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Astloch:wght@400;700&family=Macondo+Swash+Caps&display=swap");

* {
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
}

body {
  background-color: #070b15;
}
